<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="3.0" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
<servlet>
<servlet-name>ComoMostrarReceta</servlet-name>
<servlet-class>servlets.ComoMostrarReceta</servlet-class>
</servlet>
<servlet>
<servlet-name>BuscarReceta</servlet-name>
<servlet-class>servlets.BuscarReceta</servlet-class>
</servlet>
<servlet>
<servlet-name>EnviarEmail</servlet-name>
<servlet-class>servlets.EnviarEmail</servlet-class>
</servlet>
<servlet>
<servlet-name>SeleccionarPorCategoria</servlet-name>
<servlet-class>servlets.SeleccionarPorCategoria</servlet-class>
</servlet>
<servlet>
<servlet-name>SeleccionarPorPrecio</servlet-name>
<servlet-class>servlets.SeleccionarPorPrecio</servlet-class>
</servlet>
<servlet>
<servlet-name>EditarReceta</servlet-name>
<servlet-class>servlets.EditarReceta</servlet-class>
</servlet>
<servlet>
<servlet-name>RecetaAleatoriaBuena</servlet-name>
<servlet-class>servlets.RecetaAleatoriaBuena</servlet-class>
</servlet>
<servlet>
<servlet-name>BuscarVideoReceta</servlet-name>
<servlet-class>servlets.BuscarVideoReceta</servlet-class>
</servlet>
<servlet>
<servlet-name>BuscarVideo</servlet-name>
<servlet-class>servlets.BuscarVideo</servlet-class>
</servlet>
<servlet>
<servlet-name>SeleccionarPorProvincia</servlet-name>
<servlet-class>servlets.SeleccionarPorProvincia</servlet-class>
</servlet>
<servlet>
<servlet-name>Login</servlet-name>
<servlet-class>servlets.Login</servlet-class>
</servlet>
<servlet>
<servlet-name>DarAlta</servlet-name>
<servlet-class>servlets.DarAlta</servlet-class>
</servlet>
<servlet>
<servlet-name>IntroducirReceta</servlet-name>
<servlet-class>servlets.IntroducirReceta</servlet-class>
</servlet>
<servlet>
<servlet-name>EditarRecetaUpdate</servlet-name>
<servlet-class>servlets.EditarRecetaUpdate</servlet-class>
</servlet>
<servlet>
<servlet-name>ComentarReceta</servlet-name>
<servlet-class>servlets.ComentarReceta</servlet-class>
</servlet>
<servlet>
<servlet-name>IntroducirIngrediente</servlet-name>
<servlet-class>servlets.IntroducirIngrediente</servlet-class>
</servlet>
<servlet>
<servlet-name>EnvioDatos</servlet-name>
<servlet-class>servlets.EnvioDatos</servlet-class>
</servlet>
<servlet>
<servlet-name>MostrarComentarios</servlet-name>
<servlet-class>servlets.MostrarComentarios</servlet-class>
</servlet>
<servlet>
<servlet-name>SubirImagen</servlet-name>
<servlet-class>servlets.SubirImagen</servlet-class>
</servlet>
<servlet>
<servlet-name>BuscarRecetaSinLogin</servlet-name>
<servlet-class>servlets.BuscarRecetaSinLogin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ComoMostrarReceta</servlet-name>
<url-pattern>/ComoMostrarReceta</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>EnvioDatos</servlet-name>
<url-pattern>/EnvioDatos</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>BuscarReceta</servlet-name>
<url-pattern>/BuscarReceta</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>EnviarEmail</servlet-name>
<url-pattern>/EnviarEmail</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>SeleccionarPorCategoria</servlet-name>
<url-pattern>/SeleccionarPorCategoria</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>EditarReceta</servlet-name>
<url-pattern>/EditarReceta</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>RecetaAleatoriaBuena</servlet-name>
<url-pattern>/RecetaAleatoriaBuena</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>BuscarVideoReceta</servlet-name>
<url-pattern>/BuscarVideoReceta</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>BuscarVideo</servlet-name>
<url-pattern>/BuscarVideo</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>SeleccionarPorProvincia</servlet-name>
<url-pattern>/SeleccionarPorProvincia</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>SeleccionarPorPrecio</servlet-name>
<url-pattern>/SeleccionarPorPrecio</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>Login</servlet-name>
<url-pattern>/Login</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>DarAlta</servlet-name>
<url-pattern>/DarAlta</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>IntroducirReceta</servlet-name>
<url-pattern>/IntroducirReceta</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>ComentarReceta</servlet-name>
<url-pattern>/ComentarReceta</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>EditarRecetaUpdate</servlet-name>
<url-pattern>/EditarRecetaUpdate</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>MostrarComentarios</servlet-name>
<url-pattern>/MostrarComentarios</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>SubirImagen</servlet-name>
<url-pattern>/SubirImagen</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>BuscarRecetaSinLogin</servlet-name>
<url-pattern>/BuscarRecetaSinLogin</url-pattern>
</servlet-mapping>
<session-config>
<session-timeout>30</session-timeout>
</session-config>
<welcome-file-list>
<welcome-file>index.jsp</welcome-file>
</welcome-file-list>
</web-app>